<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Company | Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/bower_components/Ionicons/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/dist/css/skins/skin-blue.min.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <a href="#" class="logo">
                <span class="logo-lg"><b>COMPANY</b></span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>

        </header>
        
        <aside class="main-sidebar">

            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">HEADER</li>
                    <li><a href="#"><i class="fa fa-users"></i> <span>Employees</span></a></li>
                </ul>
            </section>

        </aside>

        <div class="content-wrapper">
            <section class="content container-fluid">
                <%- body %>
            </section>
        </div>
        
        <footer class="main-footer">
            <strong>Copyright &copy; 2018 <a href="#">Vasco Miranda</a>.</strong> All rights reserved.
        </footer>

    </div>
    
    <script src="/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/AdminLTE/dist/js/adminlte.min.js"></script>
</body>
</html>